/*********************
/* 全局设置
/*********************/

*{
	margin:0;
	padding:0;
}

body {
	padding:100px;
	font:14px/1.5 "Microsoft Yahei",sans-serif,Arial;
	font-weight:300;
  background-color: #f1f1f1;
	color:#555;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 0 20px;
	color:#222;
}

h1, h2, h3 {
	line-height:1.1;
}

h1 {
	font-size:24px;
}

h2 {
	color:#30accd;
}

h3, h4, h5, h6 {
	color:#30accd;
}

p, ul, ol, table, pre, dl {
	margin:0 0 20px;
}

a {
	font-weight:400;
	text-decoration:none;
	color:#30accd;
}

a:hover{
	text-decoration:none;
	color:#3a6aa7;
}

a small {
	margin-top:-0.6em;
	font-size:11px;
	color:#999;
	display:block;
}

blockquote {
   	border-left:1px solid #e5e5e5;
	margin:0;
  	padding:0 0 0 20px;
  	font-style:italic;
}

code, pre {
  	font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  	color:#333;
  	font-size:12px;
}

pre {
  	padding:8px 15px;
  	background-color: #f8f8f8;  
  	border-radius:5px;
  	border:1px solid #e5e5e5;
 	overflow-x: auto;
}

table {
  	width:100%;
  	border-collapse:collapse;
}

th, td {
  	text-align:left;
  	padding:5px 10px;
  	border-bottom:1px solid #e5e5e5;
}

dt {
  	color:#444;
  	font-weight:700;
}

th {
  	color:#444;
}

img {
  	max-width:100%;
}
span {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home span{
	text-align:center;
	font-size:12px;
  color:#999;
}
.wrapper {
	width:860px;
	margin:auto;
}

.header {
	width:260px;
	position:fixed;
}
.header img{
	width:120px;
	height:130px;
}
.content{
  width:600px;
  float:right;
  padding-bottom:50px;
}

ol.posts,ol.posts li{
	margin:0;
	padding:0;
}
ol.posts li{
	margin-bottom:20px;	
}
ol.posts .datetime{
	display:inline-block;
	vertial-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	width:100px;
	text-transform:uppercase;
	float:right;
	color:#999;
	font-size:12px;
	text-align:right;
}

.footer{
	width:260px;
	position:fixed;
	bottom:50px;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
    color:#999;
  }

/*****************************************************************************/
/*
/* Comments
/*
/*****************************************************************************/


#ds-reset .ds-avatar img {
  width: 54px !important;
  height: 54px !important;
  -webkit-border-radius: 27px !important;
  -moz-border-radius: 27px !important;
  border-radius: 27px !important;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}
#ds-reset .ds-avatar img:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

#ds-reset .ds-powered-by {
  display: none;
}

/*
#ds-thread {
  clear: none !important;
  float: left;
  margin-top: 0;
  width: 100%;
}
*/

.pagination{
  color:#ccc;
  text-align:center;
}
.pagination-item{
  background:#fff;
  padding:8px 50px;
  border:1px solid #ddd;
  border-radius:5px;
}
span.pagination-item{
  cursor:not-allowed;
}
a.pagination-item{
  transition:background 0.25s;
  -o-transition:background 0.25s;
  -webkit-transition:background 0.25s;
  -moz-transition:background 0.25s;
}
a.pagination-item:hover{
  color:white;
  background:#30accd;
  border:1px solid #30accd;
}
.pagination-item:first-child{
  float:left;
}
.pagination-item:last-child{
  float:right;
}
@media print, screen and (max-width:860px){
  .wrapper{
     width:auto;
     margin:0;
  }
  .header, .content, .footer{
    float:none;
    position: static;
    width:auto;
  }
  .content{
    border-top: 1px solid #e9e9e9;
    padding: 20px 0px;
  }
}
@media print, screen and (max-width: 480px){
  body{
    padding:20px 20px 20px 40px;
  }
  .pagination-item{
    padding: 10px 10px; 
  }
  #ds-reset .ds-avatar img{
    width: 24px !important;
    height: 24px !important;
  }
}
@media print{
  body{
    padding: 0.4in;
    font-size:12pt;
    color:#334455;
  }
}
