.loader {
  position: absolute;
  width: 300px;
  height: 150px;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -150px;
}
.loader .overlay {
  position: Absolute;
  width: 0;
  height: 50%;
  left: -10%;
  top: 35%;
  z-index: 1000;
  border-radius: 100%;
  box-shadow: 0 0 135px 150px #001;
}
.loader .overlay.two {
  left: initial;
  right: -10%;
  top: 20%;
}
.box {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -75px;
  background: #765;
}
.box.one {
  transform: rotate(-7.5deg);
}
.box.two {
  transform: rotate(7.5deg);
}
.box.filler {
  width: 30px;
  height: 210px;
  margin-top: -105px;
  margin-left: -15px;
  position: Absolute;
}
.box.filler.one {
  transform: rotate(45deg);
}
.box.filler.two {
  transform: rotate(-45deg);
}
.box.filler.base {
  height: 190.5px;
  margin-top: -95.25px;
}
.box.filler.base.one {
  transform: rotate(22.5deg);
}
.box.filler.base.two {
  transform: rotate(-67.5deg);
}
.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
}
.wrap.two {
  transform: rotate(45deg);
}
.cog {
  position: Absolute;
  height: 180px;
  width: 180px;
  border-radius: 150px;
  margin-top: -15px;
}
.cog.one {
  margin-top: 1.5px;
  left: 50%;
  margin-left: -190.5px;
  -webkit-animation: cogOne 0.5s infinite linear;
  animation: cogOne 0.5s infinite linear;
}
.cog.two {
  right: 50%;
  margin-right: -190.5px;
  transform: rotate(11.5deg);
  -webkit-animation: cogTwo 0.5s infinite linear;
  animation: cogTwo 0.5s infinite linear;
}
.cog .overlay {
  position: absolute;
  height: 30%;
  width: 30%;
  left: 50%;
  top: 50%;
  margin-top: -15%;
  margin-left: -15%;
  z-index: 100;
  border-radius: 100%;
  background: #001;
  box-shadow: 0 0 150px 20px #001;
}
@-moz-keyframes cogOne {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(38deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cogOne {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(38deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-o-keyframes cogOne {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(38deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes cogOne {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(38deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-moz-keyframes cogTwo {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@-webkit-keyframes cogTwo {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@-o-keyframes cogTwo {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@keyframes cogTwo {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}


#navbar{
	background: #f5f5f5 no-repeat scroll 0% 0%;
	transition:background-color 5s;
}
#navbar:hover{
	background:red no-repeat scroll 0% 0%;
}
#index-banner{
	
}
.index-banner-wrapper{
	display: table;
	overflow: hidden;
	height: 800px;
	margin-left: 30%;
}
.index-banner-content{
	vertical-align:middle;
	display: table-cell;
}
a#download-button{
	border:1px solid #f5f5f5;
	border-radius: 10px;
}
a#download-button:hover{
	border: 1px dotted #f5f5f5;
	border-radius: 0;
}
#index-main{

}
.index-main-wrapper{
	display: table;
	height: 400px;
}
.index-main-content{
	vertical-align: middle;
	display: table-cell;
}
.index-main-text{
	font-family: 'Mrosoft Yahei',sans-serif;
	font-size: 24px;
	line-height: 34px;
}
#one{
	transition:background-color 0.2s ease 0;
}
#one:hover{
	background-color: #d1d1d1;
}
#two{
	transition:background-color 0.2s ease-in 0;
}
#two:hover{
	background-color: #d1d1d1;
}
#three{
	transition:background-color 0.2s ease-in 0;
}
#three:hover{
	background-color: #d1d1d1;
	box-shadow: 2px 2px 2px #ccc;
}
.feature-section{
	padding:2rem;
}
