<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>凉葱落</title>
  <meta name="author" content="凉葱落" />
  <meta name="description" content="一个关于凉葱落对互联网技术理解的网站,一个程序员对自己所学的东西的总结或整理的网站."/>
  <meta name="keywords" content="凉葱落,互联网技术,HTML5,CSS3,Python,Linux,黑客,黑客攻击,黑客工具等" />
  <link rel="stylesheet" href="/css/pygment.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <p><img src="/images/logo.png"alt="凉葱落" /></p>
      <p></p>
      <h1><a href="/">凉葱落</a></h1>
      <p>学无止境,静水流深.</p>
      <p><a href="/about.html">关于我</a></p>

      <p>
        <a href="mailto:rontomai@gmail.com">rontomai@gmail.com</a><br/>
        <a href="http://github.com/rontom/">github.com/rontom</a><br />
        <a href="http://twitter.com/rontomai/">twitter.com/rontomai</a><br />

      </p>
    </div>
    
    <div class="content">
    {{ content }}
    </div>
    

    <!--div class="footer">   
      <div class="rss">
  	   <img src="/images/weixin.png" alt="scan me for you">
      </div>
    </div-->
  
  </div>

  <!-- ClickTale Bottom part -->
  <!--div id="ClickTaleDiv" style="display: none;"></div-->
  <!--script type="text/javascript">
  if(document.location.protocol!='https:')
    document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
  </script-->
  <!-- ClickTale end of Bottom part -->

  <!-- Google Analytics -->
  <!--script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-6016902-1");
  pageTracker._trackPageview();
  </script-->
  <!-- Google Analytics end -->

</body>
</html>
